@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

/*inicio - body es el contenedor del displey grid*/
body {
    display: grid;
    grid-template-rows: 50px 60px calc(100vh - 160px) 50px;
    grid-template-areas:
        'nav'
        'search'
        'main'
        'footer';
}

/*fin del body*/
/*inicio - nav con elementos ordenados en flex*/
nav {
    grid-area: nav;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

nav>img {
    border-radius: 50%;
    object-fit: cover;
    height: 45px;
}

.menu {
    font-size: 2rem;
    color: #fff;
}

.menu2 {
    display: none;
    color: #fff;
}

.menu2>ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

/*fin del nav*/
/*inicio - search se ocupa etiqueta select en HTML se agrean mas con Option como hijos*/
.search {
    grid-area: search;
    background-color: #bebebe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

select {
    height: 30px;
    border: none;
}

/*fin del search*/
/*inicio de las card y botones de busqueda con overflow*/
main {
    grid-area: main;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.cardcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    margin: 10px 0;
    gap: 20px;
    padding: 10px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    border: .5px solid grey;
    padding: 5px;
}

.card>img {
    object-fit: cover;
    object-position: center;
    height: 300px;
    width: 240px;
    border-radius: 1rem;
}

.card>p {
    margin: 5px 0;
}

.card>button {
    margin: 5px 0;
    width: 90%;
    height: 30px;
    border: none;
    background-color: rgb(0, 64, 0);
    color: #fff;
}

.paginas>button {
    border: none;
    height: 30px;
    width: 40px;
    background-color: #000;
    color: #fff;
}

/*fin de las card*/
/*Inicio - Footer, orden con flex*/
footer {
    grid-area: footer;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.fa-brands {
    margin: 0 5px;
}

/*Fin - footer ordenado con informacion del emprendimiento*/
/*vista para tablet dos columnas edit en el busqueda lateral*/
@media (min-width: 576px) {

    /*modificacion layout tablet*/
    body {
        grid-template-rows: 50px calc(100vh - 100px) 50px;
        grid-template-areas:
            'nav nav'
            'search main'
            'footer footer';
    }

    .search {
        justify-content: flex-start;
        gap: 10px;
        padding: 10px 10px;
        width: 180px;
    }

    .menu>i {
        display: none;
    }

    .menu2 {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
}

/*vista para desktop search queda en la parte superior, footer y nav quedan lateral, main ocupa mas espacio.*/
@media (min-width: 992px) {
    body {
        grid-template-rows: 60px calc(100vh - 110px) 50px;
        grid-template-areas:
            'nav search'
            'nav main'
            'footer main';
    }

    .search {
        justify-content: center;
        width: calc(100vw - 160px);
    }

    .menu>i {
        display: none;
    }

    /*acomodando menu2 vista tablet y pc*/
    .menu2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu2>ul {
        flex-direction: column;
    }

    .menu2>p {
        padding-bottom: 50px;
    }

    /*fin menu2*/
    nav {
        flex-direction: column;
        justify-content: flex-start;
        width: 150px;
        gap: 10px;
        padding-top: 20px;
    }

    /*logo mas grande*/
    nav>img {
        height: 140px;
    }
}